<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #FF6565;"></span>
		<span class="sg-label">
			$interface-sanguine <br />
			#FF6565
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D27FFF;"></span>
		<span class="sg-label">
			$interface-lavande <br />
			#D27FFF
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFFFFF;"></span>
		<span class="sg-label">
			$interface-neige <br />
			#FFFFFF
		</span>
	</li>
</ul>
