<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #FF6565;"></span>
		<span class="sg-label">
            $déclinaison-sanguine-01 <br />
            #FF6565
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #7F3232;"></span>
		<span class="sg-label">
			$déclinaison-sanguine-02 <br />
			#7F3232
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #E55B5B;"></span>
		<span class="sg-label">
			$déclinaison-sanguine-03 <br />
			#E55B5B
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D27FFF;"></span>
		<span class="sg-label">
			$déclinaison-lavande-01 <br />
			#D27FFF
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #693F7F;"></span>
		<span class="sg-label">
			$déclinaison-lavande-02 <br />
			#693F7F
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #BD72E5;"></span>
		<span class="sg-label">
			$déclinaison-lavande-03 <br />
			#BD72E5
		</span>
	</li>
</ul>
