<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #2DFF00;"></span>
		<span class="sg-label">
            $interaction-valide <br />
            #2DFF00
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FF0C00;"></span>
		<span class="sg-label">
			$interaction-erreur <br />
			#FF0C00
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D2AFFF;"></span>
		<span class="sg-label">
			$interaction-désactivé <br />
			#D2AFFF
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D27FFF;"></span>
		<span class="sg-label">
			$interaction-défault <br />
			#D27FFF
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFFFFF;"></span>
		<span class="sg-label">
			$interaction-brand-neige <br />
			#FFFFFF
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #77767F;"></span>
		<span class="sg-label">
			$interaction-brand-gris-01 <br />
			#77767F
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D7D4E5;"></span>
		<span class="sg-label">
			$interaction-brand-gris-01 <br />
			#D7D4E5
		</span>
	</li>
</ul>