<h1>H1 (32px) : Portez ce whisky au vieux juge blond qui fume</h1>
<h2>H2 (29px) : Portez ce whisky au vieux juge blond qui fume</h2>
<h3>H3 (26px) : Portez ce whisky au vieux juge blond qui fume</h3>
<h4>H4 (23px) : Portez ce whisky au vieux juge blond qui fume</h4>
<h5>H5 (20px) : Portez ce whisky au vieux juge blond qui fume</h5>
<h6>H6 (18px) : Portez ce whisky au vieux juge blond qui fume</h6>
<p>P (14px) : Portez ce whisky au vieux juge blond qui fume</p>